body {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: PapayaWhip;
}

.title {
  font-weight: 900;
  font-size: 20vw;
  margin-top: 0;
  filter: url(#goo);
  position: relative;
  letter-spacing: -.12em;
  color: IndianRed;
  text-transform: uppercase;
}

.title-2 {
  font-weight: 900;
  font-size: 5vw;
  margin-top: 0;
  color: IndianRed;
  text-transform: uppercase;
  filter: url(#goo);
  position: relative;
}

.drop {
  width: .1em;
  height: .1em;
  border-radius: 0 100% 100% 100%;
  background-color: currentColor;
  position: absolute;
  top: 72%;
  animation: drop 3s infinite both;
}
.drop:nth-child(1) {
  left: 14%;
}
.drop:nth-child(2) {
  left: 39%;
  animation-delay: -.4s;
}
.drop:nth-child(3) {
  left: 55%;
  animation-delay: -1.5s;
}
.drop:nth-child(4) {
  left: 82%;
  animation-delay: -.8s;
}
.drop:nth-child(5) {
  left: 95.5%;
  animation-delay: -1.3s;
}

@keyframes drop {
  0% {
    transform: translateY(0) scaleX(0.85) rotate(45deg);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(120%) scaleX(0.85) rotate(45deg);
    animation-timing-function: ease-in;
  }
  80%, 100% {
    transform: translateY(60vh) scaleX(0.85) rotate(45deg);
  }
}

@font-face {
  font-family: 'MK4';
  src: url(fonts/MK4.TTF);
  font-style: normal;
  font-weight: 900;
}

.title {
  font-family: MK4;
  font-weight: 900;
}

.title-2 {
  font-family: MK4;
  font-weight: 900;
}

.figure-container {
  fill: transparent;
  stroke: black;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}